__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/
.env/

.env
.python-version
cookies.json

build/
dist/
*.egg-info/
*.egg
eggs/
.eggs/
pip-wheel-metadata/
wheelhouse/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.ipynb_checkpoints/

.vscode/
.idea/
*.iml

*.db
*.sqlite3



